<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>RegistrationApp</display-name>
	
		<servlet>
			<description></description>
			<display-name>processOne</display-name>
			<servlet-name>processOne</servlet-name>
			<servlet-class>com.nt.processOne</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>processOne</servlet-name>
			<url-pattern>/processOne</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>processTwo</display-name>
			<servlet-name>processTwo</servlet-name>
			<servlet-class>com.nt.processTwo</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>processTwo</servlet-name>
			<url-pattern>/processTwo</url-pattern>
		</servlet-mapping>
		<servlet>
			<description></description>
			<display-name>processThree</display-name>
			<servlet-name>processThree</servlet-name>
			<servlet-class>com.nt.processThree</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>processThree</servlet-name>
			<url-pattern>/processThree</url-pattern>
		</servlet-mapping>
  </web-app>
  </element>
  